@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@



<div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
              @Umbraco.RenderMacro("listNewestProjects")
          </div>
        </div>