@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
                       <head>
                           <meta charset="utf-8">
                           <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

                           <title>Aarhus Web Developer Corporation</title>
                           <meta name="description" content="@Umbraco.Field(" metaDescritpion")">
                           <meta name="keywords" content="@Umbraco.Field(" metaKeywords")">

                           <meta name="viewport" content="width=device-width,initial-scale=1">
                           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
                           <link rel="stylesheet" href="~/css/style.css">
                           

                           <script src="~/scripts/modernizr-2.0.6.min.js"></script>
                           <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.js"></script>
                           <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.js"></script>
                           <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.js"></script>
                           <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
                           <script src="~/scripts/jquery.validate.min.js"></script>
                           <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
                       </head>

<body>

    <div id="header-container">
        <header class="wrapper clearfix">
              @Umbraco.RenderMacro("mainMenu")
        </header>
    </div>

    @RenderBody()

     <footer class="footer">
      <div class="container">
        <span>Place sticky footer content here.</span>
      </div>
    </footer>

</body>
</html>