<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT forbiddenAccess ANY>
<!ATTLIST forbiddenAccess id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT articlesOverview ANY>
<!ATTLIST articlesOverview id ID #REQUIRED>
<!ELEMENT contactsPage ANY>
<!ATTLIST contactsPage id ID #REQUIRED>
<!ELEMENT projectsOverview ANY>
<!ATTLIST projectsOverview id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1106" key="efb42a95-81d0-4682-8e69-884e096cca09" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-02-21T10:10:55" updateDate="2018-02-21T11:11:00" nodeName="Home" urlName="home" path="-1,1106" isDoc="" nodeType="1053" creatorName="Igors Ivanovs" writerName="Igors Ivanovs" writerID="0" template="1104" nodeTypeAlias="homePage" isPublished="true">
    <hideFromNavigation>0</hideFromNavigation>
    <contactsPage id="1107" key="dfa89531-23ba-44b8-8285-473ed487533f" parentID="1106" level="2" creatorID="0" sortOrder="1" createDate="2018-02-21T10:11:28" updateDate="2018-02-21T14:48:40" nodeName="Contact Us" urlName="contact-us" path="-1,1106,1107" isDoc="" nodeType="1105" creatorName="Igors Ivanovs" writerName="Igors Ivanovs" writerID="0" template="1102" nodeTypeAlias="contactsPage" isPublished="true">
      <hideFromNavigation>0</hideFromNavigation>
      <message id="2135" key="360332dc-e3d1-4d96-ac67-ed531acb966b" parentID="1107" level="3" creatorID="0" sortOrder="0" createDate="2018-03-07T08:36:38" updateDate="2018-03-07T09:14:01" nodeName="testmail" urlName="testmail" path="-1,1106,1107,2135" isDoc="" nodeType="2134" creatorName="Igors Ivanovs" writerName="Igors Ivanovs" writerID="0" template="2133" nodeTypeAlias="message" isPublished="true">
        <messageContent><![CDATA[Test content]]></messageContent>
        <email><![CDATA[cracer@inbox.lv]]></email>
        <subject><![CDATA[Test mail]]></subject>
        <messagename><![CDATA[Igor Ivanov]]></messagename>
        <umbracoNaviHide>1</umbracoNaviHide>
      </message>
    </contactsPage>
    <projectsOverview id="1110" key="0cdd5a20-30b5-4405-93e6-845c3e85eaae" parentID="1106" level="2" creatorID="0" sortOrder="2" createDate="2018-02-21T14:21:37" updateDate="2018-03-19T08:34:14" nodeName="Our Projects" urlName="our-projects" path="-1,1106,1110" isDoc="" nodeType="1084" creatorName="Igors Ivanovs" writerName="Igors Ivanovs" writerID="0" template="1109" nodeTypeAlias="projectsOverview" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsTitle><![CDATA[Web development projects]]></projectsTitle>
      <projectsBodyText><![CDATA[<p>Below there is a list of projects that Aarhus Web Developer Corporation is involved with.</p>]]></projectsBodyText>
      <projectItem id="1122" key="144f1fa6-d9a3-4802-800d-a8fd694978ac" parentID="1110" level="3" creatorID="0" sortOrder="4" createDate="2018-02-21T19:09:34" updateDate="2018-03-19T14:12:41" nodeName="Lazy recipe finder" urlName="lazy-recipe-finder" path="-1,1106,1110,1122" isDoc="" nodeType="1089" creatorName="Igors Ivanovs" writerName="Igors Ivanovs" writerID="0" template="1120" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>33</projectStatus>
        <projectDescription><![CDATA[<p>Ever had a situation where you have a bunch of stuff in your fridge and you don't know what you can cook from that ?</p>
<p>Then this project is just for you. We have developed an application that allows you to search good healthy recipes by ingredients. No more ordering take outs or wasting food!</p>]]></projectDescription>
        <projectTitle><![CDATA[Lazy recipe finder]]></projectTitle>
      </projectItem>
      <projectItem id="1123" key="bdf68f63-6053-4c5e-af59-311254372934" parentID="1110" level="3" creatorID="0" sortOrder="5" createDate="2018-02-21T19:09:50" updateDate="2018-03-19T10:43:11" nodeName="Vortex Virtual Reality" urlName="vortex-virtual-reality" path="-1,1106,1110,1123" isDoc="" nodeType="1089" creatorName="Igors Ivanovs" writerName="Igors Ivanovs" writerID="0" template="1120" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>33</projectStatus>
        <projectDescription><![CDATA[<p>If you love playing games in virtual reality and would like to experience something fresh there is a place opening in Aarhus just for you! Get fully immersed without the need for controllers by running around on a special treadmill and use a plastic weapon instead of a controller! </p>]]></projectDescription>
        <projectTitle><![CDATA[Vortex Virtual Reality]]></projectTitle>
      </projectItem>
      <projectItem id="1125" key="9caaa87d-c843-495f-b104-0614d4b04ac0" parentID="1110" level="3" creatorID="0" sortOrder="7" createDate="2018-02-21T19:10:20" updateDate="2018-03-19T09:39:07" nodeName="Psycho analyzer" urlName="psycho-analyzer" path="-1,1106,1110,1125" isDoc="" nodeType="1089" creatorName="Igors Ivanovs" writerName="Igors Ivanovs" writerID="0" template="1120" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>38</projectStatus>
        <projectDescription><![CDATA[<p>Ever wondered if you have psychological disorders ? Now you can find out in a few minutes without going to psychiatrist, allows absolute anonymity or sharing with friends. Want people to know you are a psychopath? Share your condition and get help from a professional.   </p>]]></projectDescription>
        <projectTitle><![CDATA[Psycho analyzer tool]]></projectTitle>
      </projectItem>
      <projectItem id="2126" key="9171163e-dd61-4e3f-a144-8e01525e9ff8" parentID="1110" level="3" creatorID="0" sortOrder="8" createDate="2018-03-03T10:26:21" updateDate="2018-03-19T14:15:14" nodeName="Unity escape room game" urlName="unity-escape-room-game" path="-1,1106,1110,2126" isDoc="" nodeType="1089" creatorName="Igors Ivanovs" writerName="Igors Ivanovs" writerID="0" template="1120" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>38</projectStatus>
        <projectDescription><![CDATA[<p>Welcome to the escape room, a place to test your intellect in this time sensitive puzzle. Use your wits to figure out the connection between the objects around you and manipulate them in the right order to escape before the time runs out.</p>]]></projectDescription>
        <projectTitle><![CDATA[Unity escape room game]]></projectTitle>
      </projectItem>
      <projectItem id="2127" key="a3b648de-2340-4659-a1af-df4bfa641781" parentID="1110" level="3" creatorID="0" sortOrder="9" createDate="2018-03-03T10:31:11" updateDate="2018-03-19T10:42:07" nodeName="Umbraco website" urlName="umbraco-website" path="-1,1106,1110,2127" isDoc="" nodeType="1089" creatorName="Igors Ivanovs" writerName="Igors Ivanovs" writerID="0" template="1120" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>38</projectStatus>
        <projectDescription><![CDATA[<p>In this project we are creating a simple website using the Umbraco CMS to allow for ease of content creation and editing from the back office.</p>]]></projectDescription>
        <projectTitle><![CDATA[Umbraco website]]></projectTitle>
      </projectItem>
      <projectItem id="2128" key="e5ec7a8b-767e-4d6c-8d06-81e73c3792ce" parentID="1110" level="3" creatorID="0" sortOrder="10" createDate="2018-03-03T10:33:09" updateDate="2018-03-19T10:42:03" nodeName="Javascript chat application" urlName="javascript-chat-application" path="-1,1106,1110,2128" isDoc="" nodeType="1089" creatorName="Igors Ivanovs" writerName="Igors Ivanovs" writerID="0" template="1120" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>38</projectStatus>
        <projectDescription><![CDATA[<p>Practice ECMA script, node.js and express in this fun little task for one lesson. Bring out your code editors and localhosts because this is going to be epic.</p>]]></projectDescription>
        <projectTitle><![CDATA[Javascript chat application]]></projectTitle>
      </projectItem>
      <projectItem id="1124" key="8d7625bc-e4ad-47a3-9985-e21c7b0c2c6e" parentID="1110" level="3" creatorID="0" sortOrder="11" createDate="2018-02-21T19:10:09" updateDate="2018-03-19T10:42:00" nodeName="Culture Ring" urlName="culture-ring" path="-1,1106,1110,1124" isDoc="" nodeType="1089" creatorName="Igors Ivanovs" writerName="Igors Ivanovs" writerID="0" template="1120" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>38</projectStatus>
        <projectDescription><![CDATA[<p>Take in the Danish nature and take a ride to see all of our attractions using this application. Go on an adventure complete with route planning, sharing and win prizes on this healthy adventure. Take your family or go alone and share progress with other participants.</p>]]></projectDescription>
        <projectTitle><![CDATA[Culture Ring ]]></projectTitle>
      </projectItem>
    </projectsOverview>
    <articlesOverview id="1115" key="9285d900-94e1-4f68-a88a-61af2a44d430" parentID="1106" level="2" creatorID="0" sortOrder="3" createDate="2018-02-21T14:47:10" updateDate="2018-02-21T14:47:10" nodeName="News" urlName="news" path="-1,1106,1115" isDoc="" nodeType="1114" creatorName="Igors Ivanovs" writerName="Igors Ivanovs" writerID="0" template="1113" nodeTypeAlias="articlesOverview" isPublished="true">
      <articlesBodyText><![CDATA[<p>Read about the latest events happening at our company.</p>]]></articlesBodyText>
      <articlesTitle><![CDATA[News articles]]></articlesTitle>
      <articleItem id="2138" key="60ae9829-80b9-4d60-8cd9-aa02eb84e530" parentID="1115" level="3" creatorID="0" sortOrder="0" createDate="2018-03-07T11:29:48" updateDate="2018-03-07T11:29:48" nodeName="Official opening" urlName="official-opening" path="-1,1106,1115,2138" isDoc="" nodeType="1079" creatorName="Igors Ivanovs" writerName="Igors Ivanovs" writerID="0" template="0" nodeTypeAlias="articleItem" isPublished="true">
        <articleTextArea><![CDATA[<p>Join us at our celebration</p>]]></articleTextArea>
        <articleTitle><![CDATA[The AWDS is officially open starting from 2018]]></articleTitle>
      </articleItem>
    </articlesOverview>
    <aboutUs id="1131" key="94cc39c0-a2c6-45c9-abe8-819ec6af2b23" parentID="1106" level="2" creatorID="0" sortOrder="4" createDate="2018-02-27T19:48:58" updateDate="2018-02-27T20:57:17" nodeName="About us" urlName="about-us" path="-1,1106,1131" isDoc="" nodeType="1128" creatorName="Igors Ivanovs" writerName="Igors Ivanovs" writerID="0" template="1133" nodeTypeAlias="aboutUs" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <aboutUsContent><![CDATA[{
  "name": "Full Width article",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "Default setup",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "About us",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1135,
                    "udi": "umb://media/422311c65001469198026b55d644ce62",
                    "image": "/media/1003/webdevs.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p style=\"text-align: center;\">Our vision</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ],
              "active": false
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p style=\"text-align: center;\">Our people</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ],
              "active": false
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p style=\"text-align: center;\">Our skills</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            }
          ],
          "label": "",
          "hasConfig": false,
          "id": "b1055e01-14c2-376c-d1a6-8bb52a1b679e",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></aboutUsContent>
    </aboutUs>
    <forbiddenAccess id="2162" key="9528e2ca-01e1-4f95-8230-ae02b9b98c9c" parentID="1106" level="2" creatorID="0" sortOrder="6" createDate="2018-03-14T10:18:02" updateDate="2018-03-14T10:18:02" nodeName="Error Page" urlName="error-page" path="-1,1106,2162" isDoc="" nodeType="2161" creatorName="Igors Ivanovs" writerName="Igors Ivanovs" writerID="0" template="2160" nodeTypeAlias="forbiddenAccess" isPublished="true">
      <umbracoNaviHide>1</umbracoNaviHide>
    </forbiddenAccess>
    <members id="2163" key="4f8f36f5-3e5a-4143-bea2-4c242425152d" parentID="1106" level="2" creatorID="0" sortOrder="7" createDate="2018-03-14T10:48:45" updateDate="2018-03-14T11:07:12" nodeName="Members" urlName="members" path="-1,1106,2163" isDoc="" nodeType="2159" creatorName="Igors Ivanovs" writerName="Igors Ivanovs" writerID="0" template="2158" nodeTypeAlias="members" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
    </members>
    <login id="2156" key="c6fb8b26-aa74-4014-9c22-e34d245ed02b" parentID="1106" level="2" creatorID="0" sortOrder="8" createDate="2018-03-12T11:35:12" updateDate="2018-03-14T10:49:06" nodeName="Login" urlName="login" path="-1,1106,2156" isDoc="" nodeType="2155" creatorName="Igors Ivanovs" writerName="Igors Ivanovs" writerID="0" template="2154" nodeTypeAlias="login" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
    </login>
  </homePage>
</root>